h1{
    color: red;
}
p{
    color: green;   /*ma mau hexa*/
    font-size:  16px;
    font-family: 'Roboto', sans-serif;
    font-weight:    normal;/*100 -thin 300-light 400-normal 500-medium 600-semibold 700-bold 800-*/
    line-height: 16px;
    text-decoration: none;/*underline line- through overline none*/
    text-transform: capital; /* none uppercase lowercase viet thuong het capitalize viet hoa chu dau*/
    text-align: right;/*can le trai phai, center can giua, justify */
    text-indent: 20px; /* can le*/
    width:  800px;/* kich thuoc khoi*/
    background-color: #eac936;

}
a{
    color: rgb(68, 72, 74);/* ma mau RGB*/
}
body{
    background-color: #12decb;
}